.wrapper{
    background: rgb(204, 204, 204);
}
h1{
    text-align: center;
    background: chocolate;
}
ul {
    text-align: :center;
}
li{
    display: inline-block;
}
.block{
    display: inline-block;
    background-color: coral;
    width: 100Px;
    height: 100px;
}